# Populated via http://github.com/gitignore/blob/master/LaTeX.gitignore

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# Populated via http://github.com/gitignore/global/OSX.gitignore

._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Populated via http://github.com/gitignore/global/SublimeText.gitignore

*.sublime-workspace
*.sublime-project

# Populated via http://github.com/gitignore/global/Windows.gitignore
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db